<div class="wrapper">
  <header><fa-icon class="transfer" [icon]="faMoneyBillTransfer"></fa-icon><p>Currency Converter</p></header>
  <div class="contaienr">
    <div class="amount">
      <p>Enter Amount</p>
      <input type="number"  [(ngModel)]="amount">
    </div>
    <div class="drop-list">
      <div class="from">
        <p>From</p>
        <div class="select-box">
          <img src="https://flagcdn.com/48x36/{{flagFrom}}.png" alt="flag">
          <select (change)="changeFrom($event)" >
            <option *ngFor="let item of countryList | keyvalue"  value="{{item.key}}" [selected]="item.key == selectedFrom ">{{item.key}}</option>
          </select>
        </div>
      </div>
      <div class="icon" (click)="replace()"><fa-icon class="replace" [icon]="faExchange"></fa-icon></div>
      <div class="to">
        <p>To</p>
        <div class="select-box">
          <img src="https://flagcdn.com/48x36/{{flagTo}}.png" alt="flag">
          <select (change)="changeTo($event)">
            <option *ngFor="let item of countryList | keyvalue" value="{{item.key}}" [selected]="item.key == selectedTo ">{{item.key}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="exchange-rate" *ngIf="!isError" >
    </div>
    <div class="exchange-rate" *ngIf="!isError  && !isBigLength" >
      {{transfer + " "+  fromCurrency }} = {{rate + " " +toCurrency }}
    </div>
    <div class="exchange-rate" *ngIf="!isError && isBigLength" >
      {{transfer + " "+  fromCurrency }} <br>
      = <br>
      {{rate + " " +toCurrency }}
    </div>

    <div class="exchange-rate" *ngIf="isError" >{{error}}</div>
    <button (click)="exchange()">Get Exchange Rate</button>
  </div>
</div>
